.header-tops
{
	background-color: black;
	padding: 25px;
}
.header-tops h2
{
	color: white;
	text-align: center;
}
.timsptheogia, .timsptheoloai
{
	font-size: 17px;
	cursor: pointer;
}

.text1:hover{
	color: red;
}

